__pycache__
.env
.serena
PRPs/local
PRPs/completed/
/logs/
.zed
tmp/
temp/

#claude
.claude/docs/
.claude/hooks/
.claude/settings.json
.claude/settings.local.json
claude.local.md

#local files
/scripts/
.mcp.json
.next-session.md
