__pycache__
.env
.serena
.claude/settings.local.json
PRPs/local
PRPs/completed/
/logs/
.zed
tmp/
temp/

#claude
.claude/docs/
.claude/hooks/
claude.local.md
.claude/settings.local.json

#local files
/scripts/
.mcp.json
.next-session.md
